.App {
  height: 90vh;
  background: url('https://img.freepik.com/free-photo/gym-composition-with-sport-elements_23-2147915635.jpg?w=996&t=st=1689954186~exp=1689954786~hmac=3a1ef9e7ce5a7be19a6783850f66d1dde7f39a664ef122069b6ab5f6853479c1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
