@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,300;1,500;1,600&display=swap');
/* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
} */

main {
  min-height: 80vh;
  transition: transform 0.2s;
}

.heading-color {
  background: -webkit-linear-gradient(rgb(230, 86, 182), rgb(7, 0, 10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navLink:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.baner {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  box-shadow: 0px 0px 16px 6px rgb(119, 143, 194);
}

.search{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* .btn {
  border-radius: 25px;

  transition: transform 0.2s;
}
.btn:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

.card1 {
  overflow: hidden;

  transition: transform 0.2s;
}
.card1:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.card {
  border-radius: 12px;
  border: 1px solid #7a39e0;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
}

img {
  margin-right: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.rating span {
  margin: 0.1rem;
}
.productImg {
  height: 350px;
  width: 100%;
}
.bookImg {
  height: 300px;
  width: 70%;
  border-radius: 10%;
}
.pName {
  height: 40px;
}

.copyright {
  text-align: center;
  padding-top: 10px;
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* carousel */
.caro {
  margin: 70px;
}
.carousel {
  background-image: url('images/Caro.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 350px;
  padding: 30px;
  margin: 30px;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
  .baner {
    height: 150px;
  }
}

/* Loader */
.contain {
  width: 200px;
  height: 200px;
  position: relative;
}

.contain > div {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotation 5s linear infinite;
  animation-delay: calc(0.15s * var(--i));
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.ball {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #00a814;
  border-radius: 50%;
  animation: resize 2s linear infinite;
  animation-delay: calc(0.15s * var(--i));
}
@keyframes resize {
  0% {
    filter: hue-rotate(0deg);
  }
  90% {
    transform: scale(50);
    filter: hue-rotate(360deg);
  }
}
.collect {
  font-family: 'ADLaM Display', cursive;
}

.navFont{
  font-family: 'Poppins', sans-serif;
}
.heroBack{
  background-image: url(./images/Back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}