/* homescreen.css */
.pop-tilt img {
  transition: transform 0.3s ease-in-out;
}

.pop-tilt:hover img {
  transform: scale(1.05) rotate(-10deg);
}

.popImage {
  transition: transform 0.3s ease-in-out;
}
.popImage:hover {
  transform: scale(1.05) rotate(-10deg);
}
